* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}

#body {
    font-family: sans-serif;
    background-color: #c0cbe7;
    position: relative;
}

#app-container {
    display: flex;
    gap: 5%
}
 /* Aside style begins*/
#aside {
    background-color: #ffffff;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 30%;
    min-height: calc(100vh - 10px);
    border-radius: 5px;
    margin: 5px;
}

#aside-title {
    margin: 25px 15px 0px;
}

.category {
    width: calc(100% - 30px);
    display: flex;
    margin: 15px;
    padding: 8px 6px;
}

.category * {
    margin-top: auto;
}

.cat {
    margin-left: 8px;
}

.items-in-cat {
    margin-left: auto;
    background-color: #c0cbe7;
    padding: 1px 4px;
    border-radius: 40%;
}

.create {
    display: block;
    text-align: center;
}
/* Aside styles ends*/

/* Main page style begins*/

#main-container {
    flex-basis: 60%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 5%;
    margin-top: 25px;
}

#header {
    display: flex;
    margin-bottom: 25px;
}

#greetings {
    font-size: 1.2rem;
}

#date-select {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.task {
    background-color: #fffafa;
    padding: 6px;
    display: flex;
}

.task * {
    margin-top: auto;
    margin-bottom: auto;
}

.time {
    padding: 2px 4px;
    margin-left: auto;
    margin-right: 4px;
    background-color: #c0cbe7;
    border-radius: 5px;
}

.fa-ellipsis-vertical {
    background-color: #c0cbe7;
    padding: 3.5px 4px;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 4px;
}
/*End of main styles*/

/*Create new task button style starts*/

#create-new-task {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fffafa;
    background-color: black;
    padding: 6px 70px;
    border-radius: 20px;
}

.add-new-list {
    background-color: #273fc8;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 50dvh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    color: #c0cbe7;
}

.hidden {
    display: none;
}

.fa-xmark {
    position: absolute;
    top: 40px;
    right: 120px;
    font-size: 20px;
    transition: all 300ms;
}

.fa-xmark:hover {
    font-size: 25px;
    cursor: pointer;
    color: #FF0000;
}