:root {
    font-family: "Poppin", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    flex: 240px 0 1;
    min-width: 200px;
    background-color: #fefefe;
    margin: 5px;
    border-radius: 5px;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: calc(100vh - 10px);
}

.aside button {
    display: flex;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    background: transparent;
    border: none;
}

#number-of-tasks {
    display: inline-block;
    margin-left: auto;
    background-color: #ececec;
    padding: 2px;
    border-radius: 50%;
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
}

#create-list {
    background-color: #ececec;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}

.main {
    flex: 300px 1 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.intro {
    display: flex;
}

.date-select {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.todos {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 4vh;
}

.todo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px 12px;
    border-radius: 15px;
    background-color: #fefefe;
}

.deadline {
    margin-left: auto;
    margin-right: 3px;
    background-color: #ececec;
    padding: 5px;
    border-radius: 15px;
}

.edit {
    border: none;
    padding: 5px;
    border-radius: 8px;
}

#task-complete, .task, .emoji {
    margin-right: 7px;
}

.create-task {
    position: fixed;
    left: 50%;
    bottom: 5vh;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    background-color: black;
    margin: 0 10px;
    border-radius: 20px;
    padding: 5px 15px;
}

#create-task-btn {
    border: none;
    background-color: transparent;
    color: #fefefe;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#create-task-btn::after {
    content: "N";
    margin-left: auto;
}

button:hover, input[type="checkbox"] {
    cursor: pointer;
}